extends ../shared/layout

include ../mixins/form-input-row
include ../mixins/form-button-row

block main-content
  .row
    form.col.s8.offset-s2(method="post", action="/products/add")
      + formInputRow('text', 'name')
      + formInputRow('text', 'category')
      + formInputRow('number', 'proteins')
      + formInputRow('number', 'carbohydrates')
      + formInputRow('number', 'fats')
      + formInputRow('number', 'calories')
      + formButtonRow('Add Product', 'note_add')(type='submit')
