extends ../shared/layout

include ../mixins/form-input-row
include ../mixins/form-button-row

block main-content
  .row
    form.col.s8.offset-s2(method="post", action="/products/add")
      + formInputRow('text', 'name', 'Name')
      .row
        .col.s12
          label(for="select-category") Category
          select.browser-default#select-category(name="category")
            option(value="meat") Meat
            option(value="vegetables") Vegetables
            option(value="mushrooms") Mushrooms
            option(value="spices") Spices
            option(value="drinks") Drinks
      + formInputRow('number', 'proteins', 'Proteins')
      + formInputRow('number', 'carbohydrates', 'Carbohydrates')
      + formInputRow('number', 'fats', 'Fats')
      + formInputRow('number', 'calories', 'Calories')
      + formButtonRow('Add Product', 'note_add')(type='submit')
