extends ../shared/layout

include ../mixins/form-input-row

block main-content
  .row(ng-controller="AllProductsController as vm")
    table.centered.striped
      thead
        tr
          th Name
          th Proteins
          th Carbohydrates
          th Fats
          th Calories
      tbody
        tr(ng-repeat="product in vm.products")
          td {{ product.name }}
          td {{ product.proteins }}
          td {{ product.carbohydrates }}
          td {{ product.fats }}
          td {{ product.calories }}
          td
            a.btn-floating.btn-small.waves-effect.waves-light(href="#edit-modal", modal, ng-click="vm.broadcastEditEvent(product, $index)")
              i.material-icons edit
            a.btn-floating.btn-small.waves-effect.waves-light.red(href="#remove-modal", modal, ng-click="vm.setRemoveAction(product, $index)")
              i.material-icons delete
    include edit
    include remove

block page-scripts
  script(src="/js/products/products-service.js")
  script(src="/js/products/all-products-controller.js")
  script(src="/js/products/edit-product-controller.js")
