extends ../shared/layout

include ../mixins/form-input-row
include ../mixins/form-button-row

block main-content
  .row
    form.col.s8.offset-s2(method="post" action="/login")
      + formInputRow('text', 'username')
      + formInputRow('password', 'password')
      + formButtonRow('Login', 'send')(type='submit')
