doctype
html
  head
    title End-To-End
    include styles
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container
      nav.light-green
        .nav-wrapper
          a.brand-logo(href="/") Health Foody
          ul#nav-mobile.right.hide-on-med-and-down
            if (currentUser)
              li
                a(href="/profile") #{currentUser.username}
              li
                a(href="/logout") Logout
            else
              li
                a(href="/login") Login
              li
                a(href="/register") Register
      block main-content
      footer.page-footer.light-green
        .footer-copyright
          .container
            | &#169; 2014 Copyright Text
            a.grey-text.text-lighten-4.right(href="#!") More Links
    include scripts
