doctype
html
  head
    title End-To-End
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
    link(rel="stylesheet", href="/lib/Materialize/dist/css/materialize.min.css", type="text/css")
    link(rel="stylesheet", href="/css/app.css", type="text/css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container
      nav
        .nav-wrapper
          a.brand-logo(href="/") Logo
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href="/recipes") Recipes
            li
              a(href="/login") Login
            li
              a(href="/register") Register
      block main-content
      footer.page-footer
        .footer-copyright
          .container
            | &#169; 2014 Copyright Text
            a.grey-text.text-lighten-4.right(href="#!") More Links
    include scripts
