script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/Materialize/dist/js/materialize.min.js")
script(src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.core.min.js")
script(src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.grid.min.js")
block page-scripts
