body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: 20px;
  flex: 1 0 auto;
}

#height-recipes-all {
  min-height: 350px;
}

#heigth-recipe-container {
  min-height: 190px;
}

#height-recipe-details {
  min-height: 500px;
}

div#search-bar{
  margin-top: 20px;
}

div.recipe-list-img img {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  height: 120px;
  border-radius: 5px;
}

div.recipe-list-img img:hover {
  border: 1px solid #777;
}

div.recipe-detail-img img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

h5#recipe-details-header{
  border-bottom: 2px solid #8BC34A
}

.btn#paging-button {
  padding: 0 1rem;
  margin-left: 2px;
}
