extends ../shared/layout

include ../mixins/form-input-row
include ../mixins/form-button-row

block main-content
  .row
    form.col.s8.offset-s2(method="post" action="recipes/add" enctype="multipart/form-data")
      + formInputRow('text', 'name', 'Name')
      .row
        .file-field.input-field.col.s12
          .btn
            span Image
            input#tb-image(type="file" name="image")
          .file-path-wrapper
            input.file-path.validate(type="text")
      //- + formInputRow('text', 'imageUrl', 'Image Url')
      .row
        .col.s12
          label(for="select-category") Category
          select.browser-default#select-category(name="category")
            option(value="snacks") Snacks
            option(value="salads") Salads
            option(value="soups") Soups
            option(value="mainDishes") Main Dishes
            option(value="desserts") Desserts
            option(value="drinks") Drinks
      div#add-ingredients-container.row
        div#add-ingredient.col.s12
          .col.s9
            label(for="select-ingredient") Ingredients
            select.browser-default#select-ingredient(name="ingredients")
              each product in products
                option(value=product._id)
                  =product.name
          .input-field.col.s3
            input#tb-quantity(type="text", name="quantity")
            label(for="ta-quantity") Quantity
      .row
        .col.s12.center-align
          a#btn-add-ingredient.btn.waves-effect.waves-light Add more ingredients
      .row
        .col.s12
          label(for="ta-preparation") How To Prepare
          textarea#ta-preparation(name="howToPrepare")
      + formButtonRow('Add', 'note_add')(type='submit')
