extends ../shared/layout

include ../mixins/form-input-row
include ../mixins/form-button-row

block main-content
  .row
    form.col.s8.offset-s2(method="post" action="recipes/add")
      + formInputRow('text', 'name', 'Name')
      + formInputRow('text', 'imageUrl', 'Image Url')
      .row
        .col.s12
          label(for="select-category") Category
          select.browser-default#select-category(name="category")
            option(value="snacks") Snacks
            option(value="salads") Salads
            option(value="soups") Soups
            option(value="mainDishes") Main Dishes
            option(value="desserts") Desserts
            option(value="drinks") Drinks
      + formInputRow('text', 'ingredients', 'Ingredients')
      .row
        .col.s12
          label(for="ta-preparation") How To Prepare
          textarea#ta-preparation(name="howToPrepare")
      + formButtonRow('Add', 'note_add')(type='submit')
