extends ../shared/layout

include ../mixins/pagingnation

block main-content
  - var categoryQuery = category ? "&category=" + category : ''
  - var sortQuery = "&sortBy=" + sortBy
  div.container
    div#search-bar.row
      div.col.s3
        a.dropdown-button.btn(data-activates="sort-dropdown")
          =(sortBy === "createdOn" ? "Date" : sortBy) || "Date"
          i.material-icons.right arrow_drop_down
        ul#sort-dropdown.dropdown-content
          li
            a(href="recipes?sortBy=createdOn" + categoryQuery) Date
          li
            a(href="recipes?sortBy=name" + categoryQuery) Name
          li
            a(href="recipes?sortBy=calories" + categoryQuery) Calories
      if currentUser
        div.col.s9.right-align
          a.btn(href="/recipes/add") Add New Recipe
    div#height-recipes-all.row
      each recipe in recipes
        div#heigth-recipe-container.col.s3.recipe-list-img
          a(href="/recipes/" + recipe.id)
            img(src=recipe.imageUrl)
            div.center-align
              =recipe.name
    if pages > 1
      + pagingnation('/recipes?page=', categoryQuery, sortQuery, page, pages)
