extends ../shared/layout

block main-content
  div#height-recipe-details.container
    div.row
      div.col.s6.recipe-detail-img
        img(src=recipe.imageUrl, alt="No Picture")
      div.col.s6
        h2.center-align
          =recipe.name
    div.row.center
      h5#recipe-details-header.left-align Nutritional values
    div.row
      div.col.s3.center
        div Protein:  
          =recipe.proteins
      div.col.s3.center
        div Carbs: 
          =recipe.carbohydrates
      div.col.s3.center
        div Fat:  
          =recipe.fats
      div.col.s3.center
        div Calories:  
          =recipe.calories
    div.row.center
      h5#recipe-details-header.left-align Ingredients
    div.row
      -var num = 0
        while num < recipe.ingredients.length
          div.col.s6.center #{recipe.ingredients[num].name}
          div.col.s6.center #{recipe.quantity[num++]} grams
    div.row
      h5#recipe-details-header.left-align How to prepare:
    div.row
      div.col.s12.center
        =recipe.howToPrepare
