extends ../shared/layout

block main-content
  div#height-recipe-details.container
    h2.center-align
      =recipe.name
    div.row
      div.col.s6.recipe-detail-img
        img(src=recipe.imageUrl, alt="No Picture")
      div.col.s6
        h6 Calories = 
          =recipe.calories
        h6 Proteins = 
          =recipe.proteins
        h6 Carbohydrates = 
          =recipe.carbohydrates
        h6 Fats = 
          =recipe.fats
        hr
        div Ingredients:
        -var num = 0
          while num < recipe.ingredients.length
            div.col.s9 #{recipe.ingredients[num].name}
            div.col.s3 #{recipe.quantity[num++]}
        hr
        div How To Prepare:
          div.col.s12
            =recipe.howToPrepare
