mixin formInputRow(inputType, inputName, labelName)
  .row
    .input-field.col.s12
      input.validate(id=inputName, type=inputType, name=inputName)&attributes(attributes)
      label(for=inputName)=labelName
