mixin formButtonRow(buttonText, buttonIcon)
  .row
    .input-field.col.s12
      button.btn.waves-effect.waves-light.right&attributes(attributes)= buttonText
        i.material-icons.right= buttonIcon

