extends ../shared/layout
block main-content
  div(ng-controller="AdminUsersController as vm")
    table.centered.highlight.bordered
      thead
        th(data-field="userName") Username
        th(data-field="fullName") Full name
        th(data-field="isAdmin") Is admin
        th(data-field="options") Options
      tbody
          tr(ng-repeat="user in vm.users") 
            td {{user.username}}
            td {{user.firstName}} {{user.lastName}}
            td {{user.isAdmin}}
            td 
              a.btn Edit
              a.btn(ng-click="vm.deleteUser(user._id)") Delete
