extends ../shared/layout

block main-content
  .row.center-align
    h2 Unauthorized
    h5.card-panel.center-align You are not authorized to see this page!
    if !currentUser
      .row
        .input-field.col.s4.offset-s1
          a.btn.waves-effect.waves-light.right(href="/login") Login
            i.material-icons.right send
        .input-field.col.s4
          a.btn.waves-effect.waves-light.right(href="/register") Register
            i.material-icons.right send
